# remove the template from this file (change it to '.env') and adjust the paths

# absolute path to the RadonUlzer exe
RadonUlzer_PATH=C:...\LineFollowerSim\program.exe

# absolute path to the space ship radar script
SpaceShipRadar_PATH=C:...\SpaceShipRadar\src\space_ship_radar\space_ship_radar.py

# absolute path to the img folder in this repo (found under src/)
# ! should end with backslash \
ImageFolder_PATH=C:...\src\img\
